extends layout
block body
  h1 Flickr Date Fixer
  ol
    li Find photos in your flickr photostream with incorrect "taken" date
    li select photos to fix
    li Fix 'em!
  button(type="button") Login via Flickr to get started
  :coffee
    require ["jquery"], ($) ->
      $ -> $("button").on "click", -> window.location = "/auth/flickr"
