doctype 5
html
  head
    title flickr date fixer by Peter Lyons
  body
    h1 Flickr Date Fixer
    if user
      p= "You are logged in as " + user.profile.displayName
      p
        a(href="/photos") Show Photos
      p
        a(href="/logout") Log out
    else
      a(href="/auth/flickr") Login via Flickr to get started
