doctype 5
html
  head
    title flickr date fixer by Peter Lyons
    link(rel="stylesheet", href="/application.css")
    script(src="/js/require.js", data-main="/js/main.js")
    :coffee
      require.config baseUrl: "/js"
  body
    if user
      .userInfo
        != 'Logged in with <a href="http://flickr.com">flickr</a> as '
        =  user.profile.displayName
        != '. <a href="/logout">Log out</a>'
    block body
