doctype 5
html
  head
    title flickr date fixer by Peter Lyons
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/js/lodash.js")
    script(src="/js/backbone.js")
    script(src="/js/browser.js")
  body
    if user
      = "You are logged in as " + user.profile.displayName
      != "&nbsp;"
      a(href="/logout") Log out
    block body
