extends layout
block body
  h1 Your photos with wonky taken date
  div.photos Loading photos from flickr...
  :coffee
    init = ($, _, Backbone, Photos, PhotoList) ->
      _.templateSettings =
        interpolate: /\{\{(.+?)\}\}/g
      window.photos = photos = new Photos()
      photoList = new PhotoList {collection: photos}
      photos.once "sync", ->
        $(".photos").replaceWith photoList.el
        photos.each (photo) -> photo.fetchInfo()
      photos.fetch()
      $ ->
        $(".fixAll").on "click", -> $(".fix").click()

    require ["jquery", "lodash", "backbone", "collections/Photos", "views/PhotoList", "main"], init
