doctype 5
html
  head
    title flickr date fixer by Peter Lyons
  body
    h1 Flickr Date Fixer
    ul
      each photo in photos
        li
          a(href="http://www.flickr.com/photos/" + photo.owner + "/" + photo.id)= photo.id + ": " + photo.title

